*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}
body{
    background-color: whitesmoke;
    padding-top: 4rem;
}
.main-div-box{
    height: auto;
    width: 80%;
    padding: 2rem;
    border: 2px;
    border-color: #f3f3f3;
    border-style: solid;
    background-color: white;
    border-radius: 16px;
    margin: 0 auto;
      
}
.first-div-box{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #f3f3f3 solid;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.first-div-box-left{
    height: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.5rem;
}
.left-div-box-top{
    height: auto;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 1.5rem; 
}
.graphQL{
    height: auto;
    width: fit-content;
}
h1{
    font-size: 1.5rem;
    font-weight: bolder;
    color: rgb(30, 29, 29);
    letter-spacing: .25px;
}
.complete{
    background-color: rgb(157, 228, 157);
    border: 1px solid rgb(69, 103, 69);
    border-radius: 4px;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}
.complete p{
    font-size: .5rem;
    color: green;
    letter-spacing: .25px;
    font-weight: bold;
}
.left-div-box-bottom{
    height: auto;
    width: fit-content;
}
.bottom-card-text{
    height: auto;
    width: fit-content; 
}
p{
    letter-spacing: .25px;
    font-size: 1rem;
    font-weight: normal;
    color: #9b9b9b;
}
.first-div-box-right{
    height: auto;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
}
.view-project-div{
    height: auto;
    width: fit-content; 
}
button{
    background-color: white;
    border: #e3e3e3 1.5px solid;
    padding: .2rem .6rem .2rem .6rem;
    font-weight: bold;
    color: rgb(54, 53, 53);
    border-radius: 3px;
    font-size: 1rem;
}
.elises-div{
    height: auto;
    width: fit-content;
}
.elises-div img{
    height: 1.5rem;
    width: 1.5rem
}
.archived{
    background-color: rgb(243, 186, 243);
    border-color: rgb(109, 1, 109);
}
.in-progress{
    background-color: #d2cece;
    border-color: #303030;
}
.grey{
    color: #212020;
}
.purple{
    color: rgb(77, 7, 77);
}

@media screen and (max-width: 768px){
    body{
        background-color: black;
    }
    .view-project-div{
        display: none;
    }
    button{
        display: none;
    }
}

    
   

